
<button (click)="goBack()">go back</button>
<div *ngIf="pokemon">
  <p>id: {{pokemon.id}}</p>
  <h2>name: {{pokemon.name}} : Species: {{pokemon.species.name}} <span class="br ba br-pill pa2 mr2" *ngFor="let item of pokemon.types">{{item.type.name}}</span></h2>
  <div class="flex">
    <div>
      <img src="{{pokemon.sprites.front_default}}" alt="photo of {{pokemon.name}}">
      <p>weight: {{pokemon.weight}}</p>
    </div>
    <div>
      <p>abilities:
        <span *ngFor="let ability of pokemon.abilities">
          {{ability.ability?.name}}
        </span>
      </p>
      <p>forms:
        <span *ngFor="let form of pokemon.forms">
          {{form?.name}}
        </span>
      </p>
      <p>stats:
        <span *ngFor="let item of pokemon.stats">
          {{item.stat?.name}}
          {{item.base_stat}}
        </span>
      </p>
    </div>
  </div>
</div>
